<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8">
  <title>历史记录</title>
  <link rel="stylesheet" type="text/css" href="Assets/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="Assets/css/common.css" />
  <link rel="stylesheet" type="text/css" href="Assets/css/thems.css">
  <script type="text/javascript" src="Assets/js/jquery-1.8.3.min.js"></script>
  <script src="Assets/js/angular.js"></script>
  <!--框架高度设置-->
</head>
<style>
  .history-diary a {
    padding: 5px 15px 5px 15px;
    background-color: #ccc;
    margin: 2px;
    color: #000;
    border-radius: 5px;
  }

  .history-diary .g {
    background-color: rgb(15, 192, 15);
  }

  #box {
    position: relative;
  }

  #pagination_15 {
    float: right;
    margin-right: 20px;
  }

  .table {
    margin-top: 0;
    margin-bottom: 0;
  }

  .history-name {
    width: 10%;
  }

  .history-msg {
    width: 10%;
  }

  .history-time {
    width: 10%;
  }

  .history-status {
    width: 10%;
  }

  .history-result {
    width: 10%;
  }

  .history-peo {
    width: 10%;
  }

  .history-diary {
    width: 10%;
  }

  .spanbtn {
    cursor: pointer;
  }

  .sbtn {
    position: absolute;
    left: 320px;
    top: 78px;
  }

  #txt {
    width: 200px;
  }
</style>

<body ng-app="myApp" ng-controller="ctrl">
  <div id="right_ctn">
    <div class="right_m">
      <!--会议列表-->
      <div class="hy_list">
        <div class="box_t">
          <span class="name">构建记录</span>
        </div>
        <!--查询-->
        <div id="search">
          <div class="search">
            <span>按构建时间查询：</span>
            <div class="s_text" id="box">
              <input name="" type="date" id="txt">
            </div>
            <a href="javascript:void(0);" class="btn sbtn" ng-click="search($event)">查询</a>
          </div>
        </div>

        <!--查询-->
        <div class="space_hx">&nbsp;</div>
        <!--列表-->
        <form action="" method="post">
          <table cellpadding="0" cellspacing="0" class="list_hy table">
            <tr>
              <th class="history-name" scope="col">项目名称</th>
              <th class="history-msg" scope="col">项目信息</th>
              <th class="history-time" scope="col">构建时间</th>
              <th class="history-status" scope="col">构建状态</th>
              <th class="history-result" scope="col">构建结果</th>
              <th class="history-peo" scope="col">项目负责人</th>
              <th class="history-diary" scope="col">查看日志</th>
            </tr>
          </table>
          <table cellpadding="0" cellspacing="0" class="list_hy table" id="table2">
            <tr ng-repeat="item in classes">
              <td class="history-name">
                <a href="./detail.html">{{item.pro.pro_name}}</a>
              </td>
              <td class="history-msg">{{item.pro.pro_list}}</td>
              <td class="history-time">{{item.time}}</td>
              <td class="history-status">{{item.pro.pro_flag}}</td>
              <td class="history-result">{{item.pro.pro_result}}</td>
              <td class="history-peo">{{item.pro.pro_master}}</td>
              <td class="history-diary">
                <a href="./screen1.html" class="g">日志</a>
                <br>
                <a href="./screen2.html" class="g">代码检查</a>
              </td>
            </tr>
          </table>
          <!--列表-->
          <!--右边底部-->
          <div class="r_foot">
            <div class="r_foot_m">
              <!--分页-->
              <div id="barcon" name="barcon"></div>
              <!--分页-->
            </div>
          </div>
        </form>
        <!--右边底部-->
      </div>
      <!--会议列表-->
    </div>
  </div>
  <!-- angularjs的基本配置 start -->
  <script>
    var zyApp = angular.module('myApp', []);
    zyApp.directive('onFinishRender', function ($timeout) {
      return {
        restrict: 'A',
        link: function (scope, element, attr) {
          if (scope.$last === true) {
            $timeout(function () {
              scope.$emit('ngRepeatFinished');

            });
          }
        }
      }
    })

    zyApp.controller("ctrl", function ($scope, $http) {
      $scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
          var tr = $("#table2 tr");
          console.log("获取成功");
          console.log(tr.length);
        }),
        $http({
          methods: "get",
          url: "./Assets/json/history.json",
          params: {
            'devops_id': '1'
          }
        }).then(function (classes) {
          $scope.classes = classes.data;
          $scope.name = classes.data.name;
          $scope.search = function ($event) {
            //获取搜索框内容
            var val = $("#txt").val();
            console.log(val);
            $("#table2 tr").each(function () {
              var vall = $(this).children("td").eq(2).html()
              if (val == vall) {
                //获取当前元素的兄弟元素，隐藏
                $(this).siblings().hide()
              }

            })
          }

          console.log("请求成功");
        }, function () {
          console.log("请求失败");
        });
    });
    $(".g").click(function () {
      console.log(this.val());
    })
  </script>
  <!-- angularjs的基本配置 end -->
  <!-- 将本页的数据存放到本地 start -->
  <script>
    window.onload = function () {
      console.log("全部加载完毕");
      var tr = $("#table2 tr");
      console.log(tr.length);
      console.log(tr[1].children[0].innerHTML);
      goPage(1);
      // localStorage.clear();
      //每行6个元素
      for (var i = 0; i < 6; i++) {
        //行数为tr的条数，排除第一行
        for (var j = 0; j < tr.length; j++) {
          var temp = tr[j].children[i].innerHTML;
          //将获取到的列表的内容存储到本地
          localStorage.setItem("historykey" + j + i, temp)
        }
      }

      // 搜索模糊匹配 start********************
      function zy$(id) {
        return document.getElementById(id);
      }
      //模拟数据
      var tr = $("#table2 tr");
      var keyWords = [];
      for (var i = 0; i < tr.length; i++) {
        keyWords.push(localStorage.getItem("historykey" + i + "2"))
      }
      console.log(keyWords);
      zy$("txt").onclick = function () {
        //只要键盘抬起就判断.页面中是否存在这个div,如果存在则干掉
        if (zy$("dv")) {
          zy$("box").removeChild(zy$("dv"));
        }
        //先获取文本框的值
        var text = this.value;
        //创建一个临时数组,保存和数组中匹配的字符串
        //之后用来显示模糊匹配
        var tempArr = [];
        //和数组中的每个元素字符串进行对比
        for (var i = 0; i < keyWords.length; i++) {
          //关键词的第i个元素，在文本框中出现了
          //文本框中只匹配第一个元素，就是index为0的元素
          if (keyWords[i].indexOf(text) >= 0) {
            //匹配上之后，将这个关键词推到新数组中
            tempArr.push(keyWords[i]);
          }
        }
        //如果文本框中没有数据或者临时数组中没有数据,就没有必要创建div
        if (this.value.length == 0 || tempArr.length == 0) {
          //如果有div就删除
          if (zy$("dv")) {
            zy$("box").removeChild(zy$("dv"));
          }
          return;
        }
        //创建一个div,然后在div中显示对应的内容
        var dvObj = document.createElement("div");
        dvObj.id = "dv";
        zy$("box").appendChild(dvObj);
        //设置样式
        dvObj.style.position = "absolute";
        dvObj.style.left = "-20px";
        dvObj.style.top = "25px";
        dvObj.style.backgroundColor = "rgba(200, 200, 200, 0.5)";
        dvObj.style.width = "200px";
        //在div中创建p标签,在p标签中显示临时数组中的数据
        for (var j = 0; j < tempArr.length; j++) {
          var pobj = document.createElement("p");
          dvObj.appendChild(pobj);
          pobj.innerHTML = tempArr[j];
          pobj.style.color = "#333";
          pobj.style.width = "200px";
          pobj.style.height = "40px";
          pobj.style.margin = "0";
          pobj.style.padding = "0";
          pobj.style.cursor = "pointer";
          pobj.style.fontSize = "15px";
          //注册鼠标进入和鼠标离开事件
          pobj.onmouseover = function () {
            this.style.backgroundColor = "rgba(0,0,0,0.5)";
          };
          pobj.onmouseout = function () {
            this.style.backgroundColor = "";
          };
          //点击数组中元素的时候，将临时数组中的值适配到搜索框中
          pobj.onclick = function () {
            zy$("txt").value = this.innerText;
            this.parentNode.parentNode.removeChild(this.parentNode);
          };
        }

      };
      // 搜索模糊匹配 end***********************
    }
    // 分页 start***********************
    function goPage(pno) {
      var itable = document.getElementById("table2");
      var num = itable.rows.length; //表格所有行数(所有记录数)
      console.log(num);
      var totalPage = 0; //总页数
      var pageSize = 5; //每页显示行数
      //总共分几页
      if (num / pageSize > parseInt(num / pageSize)) {
        totalPage = parseInt(num / pageSize) + 1;
      } else {
        totalPage = parseInt(num / pageSize);
      }
      var currentPage = pno; //当前页数
      var startRow = (currentPage - 1) * pageSize + 1; //开始显示的行  31
      var endRow = currentPage * pageSize; //结束显示的行   40
      endRow = (endRow > num) ? num : endRow; //40
      console.log(endRow);
      //遍历显示数据实现分页
      for (var i = 1; i < (num + 1); i++) {
        var irow = itable.rows[i - 1];
        if (i >= startRow && i <= endRow) {
          irow.style.display = "table-row";
        } else {
          irow.style.display = "none";
        }
      }
      var pageEnd = document.getElementById("pageEnd");
      var tempStr = "<span>共" + totalPage + "页</span>";


      //.bind("click",{"newPage":pageIndex},function(event){
      //        goPage((pageIndex-1)*pageSize+1,(pageIndex-1)*pageSize+pageSize);
      //    }).appendTo('#pages');
      if (currentPage > 1) {
        tempStr += "<span class='btn spanbtn' href=\"#\" onClick=\"goPage(" + (1) + ")\">首页</span>";
        tempStr += "<span class='btn spanbtn' href=\"#\" onClick=\"goPage(" + (currentPage - 1) + ")\">上一页</span>"
      } else {
        tempStr += "<span class='btn spanbtn'>首页</span>";
        tempStr += "<span class='btn spanbtn'>上一页</span>";
      }

      for (var pageIndex = 1; pageIndex < totalPage + 1; pageIndex++) {
        tempStr += "<a onclick=\"goPage(" + pageIndex + ")\"><span class='spanbtn'>" + pageIndex + "</span></a>";
      }

      if (currentPage < totalPage) {
        tempStr += "<span class='btn spanbtn' href=\"#\" onClick=\"goPage(" + (currentPage + 1) + ")\">下一页</span>";
        tempStr += "<span class='btn spanbtn' href=\"#\" onClick=\"goPage(" + (totalPage) + ")\">尾页</span>";
      } else {
        tempStr += "<span class='btn spanbtn'>下一页</span>";
        tempStr += "<span class='btn spanbtn'>尾页</span>";
      }

      document.getElementById("barcon").innerHTML = tempStr;

    }
    // 分页 end***********************
  </script>
  <!-- 将本页的数据存放到本地 end -->
  <!-- 分页功能 start -->
  <script>
    window.onload.href="./history.html"
  </script>
  <!-- 分页功能 end -->


</body>

</html>