<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8">
  <title>项目列表</title>
  <link rel="stylesheet" type="text/css" href="Assets/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="Assets/css/common.css" />
  <link rel="stylesheet" type="text/css" href="Assets/css/thems.css">
  <link rel="stylesheet" href="Assets/css/bootstrap.css">

  <script type="text/javascript" src="Assets/js/jquery-3.1.0.js"></script>
  <script src="Assets/js/bootstrap.js"></script>
  <script src="Assets/js/angular.js"></script>
  <!--框架高度设置-->
</head>
<style>
  body {
    background-color: #E9E9E9;
  }

  .part {
    width: 49%;
    height: 250px;
    background-color: #fff;
    border-radius: 5px;
    float: left;
    border: 2px solid #ccc;
    margin: 10px 0 10px 10px;
  }

  .part1 {
    width: 100%;
    margin: 10px auto;
  }

  .part2 {
    width: 100%;
    margin: 10px auto;
  }

  .part3 {
    width: 100%;
    margin: 10px auto;
  }

  .part4 {
    width: 100%;
    margin: 10px auto;
  }

  #re {
    font-size: 15px;
  }

  .abtn {
    height: 40px;
  }

  .ybtn {
    height: 40px;
  }

  .yybtn {
    height: 40px;
    display: none;
  }

  .fbtn {
    height: 40px;
  }

  .se {
    width: 230px;
    height: 30px;
    margin: 5px;
  }

  .modal-body {
    height: 900px;
  }

  .modal-body .part {
    border: 1px solid #ccc;
  }

  /* form {
    position: relative;
  }
  .tbtn {
    position: absolute;
    bottom: 0;
    left: 0;
  } */

  .tbtn {
    height: 40px;
    margin: 10px;
  }

  span {
    font-size: 15px;
    display: block;
    float: left;
  }

  .p1 {
    height: 30px;
    margin-left: 20px;
  }

  .p1 input {
    border: 0;
    outline: none;
  }

  .p2 {
    height: 30px;
    margin-left: 20px;
    position: relative;
  }

  .p2 input.yc {
    border: 0;
    outline: none;
  }

  .p3 {
    height: 30px;
    margin-left: 20px;
  }

  .p4 {
    height: 30px;
    margin-left: 20px;
  }


  .p11 {
    text-align: left;
  }

  .p2 input {
    position: absolute;
    left: 65px;
    top: 0;
  }
</style>

<body ng-app="myApp" ng-controller="ctrl">
  <div id="right_ctn">
    <div class="right_m">
      <!--会议列表-->
      <div class="hy_list">
        <div class="box_t">
          <span class="name">项目列表</span>
        </div>
        <div class="space_hx">&nbsp;</div>
        <!--列表-->
        <div class="fourpart">
          <!-- 第一部分 -->
          <div class="part">
            <h3>项目信息</h3>
            <div class="p1">
              <span class="p11">项目名称：</span>
              <span id="pname">test</span>
            </div>
            <div class="p1">
              <span class="p11">所选分支：</span>
              <span id="branch">test</span>
            </div>
            <div class="p1">
              <span class="p11">项目提交人：</span>
              <span id="peo">test</span>
            </div>
          </div>
          <!-- 第二部分 -->
          <div class="part">
            <h3>构建参数</h3>
            <div class="p2">
              <span>Job名称</span>
              <!-- 需要提交 -->
              <input type="text" value="" id="jname">
            </div>
            <div class="p2">
              <span>项目说明</span>
              <!-- 需要提交 -->
              <input type="text" value="" id="desc">
            </div>

            <div class="p2">
              <span>gitlab登录名：</span>
              <!-- 需要提交 -->
              <span id="lname">后台取</span>
            </div>
            <div class="p2">
              <span>gitlab密码：</span>
              <!-- 需要提交 -->
              <span id="pwd">后台取</span>
            </div>
            <div class="p2">
              <span>所在路径：</span>
              <!-- 需要提交 -->
              <span id="path">test</span>
            </div>

            <div class="se jse1 p2">
              <span>jenkins构建模板选择</span>
              <!-- 需要提交 -->
              <select name="jenkins_choice" id="jenkins_choice" ng-repeat="item in classes">
                <option value="list1">{{item.jenkins_list.msg1.list1}}</option>
                <option value="list2">{{item.jenkins_list.msg1.list2}}</option>
                <option value="list3">{{item.jenkins_list.msg1.list3}}</option>
              </select>
            </div>
          </div>
          <!-- 第三部分 -->
          <div class="part">
            <h3>检查规则</h3>

            <div class="se sse1 p3">
              <span>sonar检查模板规则</span>
              <!-- 需要提交 -->
              <select name="sonar_choice" id="sonar_choice" ng-repeat="item in classes">
                <option value="list1">{{item.sonar_list.msg1.list1}}</option>
                <option value="list2">{{item.sonar_list.msg1.list2}}</option>
                <option value="list3">{{item.sonar_list.msg1.list3}}</option>
              </select>
            </div>

          </div>
          <!-- 第四部分 -->
          <div class="part">
            <h3>发布环境</h3>
            <div class="se wse1 p4">
              <span>发布环境选择</span>
              <!-- 需要提交 -->
              <select name="fbseason_choice" id="fbseason_choice" ng-repeat="item in classes">
                <option value="测试环境">测试环境</option>
                <option value="发布环境">发布环境</option>
              </select>
            </div>
            <div class="se wse2 p4">
              <span>部署容器选择</span>
              <!-- 需要提交 -->
              <select name="bsseason_choice" id="bsseason_choice" ng-repeat="item in classes">
                <option value="list1">{{item.web_worker.msg2.list1}}</option>
                <option value="list2">{{item.web_worker.msg2.list2}}</option>
                <option value="list3">{{item.web_worker.msg2.list3}}</option>
              </select>
            </div>
          </div>
          <a onclick="submit()" class="tbtn btn btn-primary btn-lg ">提交</a>
        </div>
        <!-- 模态框 -->
        <div id="re">
          <a href="javascript:;" class="abtn btn btn-primary btn-lg " type="submit">构建</a>

          <button type="button" class="ybtn btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            预览
          </button>
          <button type="button" class="yybtn btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
            预览
          </button>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">构建结果预览</h4>
                </div>
                <div class="modal-body">
                  <div class="part part1">
                    <h4>项目信息</h4>
                    <div>项目信息项目信息项目信息项目信息项目信息项目信息项目信息项目信息项目信息</div>
                  </div>
                  <div class="part part2">
                    <h4>项目分支</h4>
                    <div>项目分支项目分支项目分支项目分支项目分支项目分支项目分支项目分支项目分支</div>
                  </div>
                  <div class="part part3">
                    <h4>环境信息</h4>
                    <div>环境信息环境信息环境信息环境信息环境信息环境信息环境信息环境信息环境信息</div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class=" fbtn btn btn-default" data-dismiss="modal">确定</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--会议列表-->
    </div>
  </div>
  <!-- angularjs的基本配置 start -->
  <script>
    angular.module("myApp", [])
      .controller("ctrl", function ($scope, $http) {
        $http({
          methods: "get",
          //获取地址
          url: "./Assets/json/structure.json",
          params: {
            'devops_id': '1'
          }

        }).then(function (classes) {
          $scope.classes = classes.data;
          $scope.name = classes.data.name;
          console.log($scope.classes);
          console.log("请求成功");
        }, function () {
          console.log("请求失败");
        })
      })
    //模态框打开过的时候，预览按钮变颜色
    $(function () {
      $('#myModal').on('hide.bs.modal', function () {
        $(".ybtn").hide();
        $(".yybtn").show();
      })
    });

    function submit() {
      $.ajax({
        type: "get",
        url: "/jenkins/addJob",
        dataType: "json",
        data: {
          //项目描述
          desc: $("#desc").val(),
          //分支
          branch: $("#branch").html(),
          //提交人
          peo: $("#peo").html(),
          //job名称
          jname: $("#jname").val(),
          //gitlab登录名
          lname: $("#lname").html(),
          //gitlab密码
          pwd: $("#pwd").html(),
          //路径
          path: $("#path").html(),
          //Jenkins模板选择
          jenkins_choice: $("jenkins_choice option:select").val(),
          //sonar模板选择
          sonar_choice: $("sonar_choice option:select").val(),
          //分布环境选择
          fbseason_choice: $("fbseason_choice option:select").val(),
          //部署环境选择
          bsseason_choice: $("bsseason_choice option:select").val()
        },
        success: function (data) {
          console.log("成功");
          console.log(data);
        }
      })

    }
  </script>
  <!-- angularjs的基本配置 end -->
  <!-- 获取本地存储内容渲染到模态框中 start -->
  <script>
    window.onload = function (e) {
      //项目的id值
      var proid = parseInt(localStorage.getItem("proid") - 1);
      console.log(proid);
      var temp1 = [];
      var temp2 = [];
      //取存储的内容，渲染到模态框中
      for (var i = 0; i < 9; i++) {
        temp1.push(localStorage.getItem("listkey" + proid + i))
        // console.log(temp1);
      }
      for (var j = 0; j < 4; j++) {
        temp2.push(localStorage.getItem("publishkey" + j))
        // console.log(temp1);
      }
      //拼接模块中的内容
      $("#pname").html(temp1[2])
      $("#branch").html(temp2[1])
      $("#peo").html(temp2[3])
      $("#path").html(temp1[3])
      //  拼接模态框中的内容
      $(".part1 div").html(
        `<h6>项目id：` + temp1[0] + `</h6>` +
        `<h6>用户名：` + temp1[1] + `</h6>` +
        `<h6>项目名称：` + temp1[2] + `</h6>` +
        `<h6>项目所在路径：` + temp1[3] + `</h6>` +
        `<h6>项目版本号：` + temp1[4] + `</h6>` +
        `<h6>项目当前状态：` + temp1[5] + `</h6>` +
        `<h6>项目创建时间：` + temp1[6] + `</h6>` +
        `<h6>项目信息：` + temp1[7] + `</h6>` +
        `<h6>项目负责人：` + temp1[8] + `</h6>`
      )
      $(".part2 div").html(
        `<h6>项目名称：` + temp2[0] + `</h6>` +
        `<h6>分支名称：` + temp2[1] + `</h6>` +
        `<h6>发布时间：` + temp2[2] + `</h6>` +
        `<h6>项目提交人：` + temp2[3] + `</h6>`
      )

      //提交
      // $("form").submit(function (e) {
      //   alert("Submitted");
      // });
    }
  </script>
  <!-- 获取本地存储内容渲染到模态框中 end -->

  <script>
    window.onload=function(){
      $("#fbseason_choice").val()
    }
    $(".abtn").click(function(){
      if($("#fbseason_choice").val()=="测试环境") {
        var r=confirm("您当前选择的环境是测试环境，确认发布吗？");
        if(r==true){
          window.location.href="./flow.html"
        }
        
      }else {
        window.location.href="./flow.html"
      }
    })
  </script>
</body>

</html>